# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
testbin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Kubernetes-specific
.manager.pid
controller.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Go
*.log
vendor/